extends layout

block content
  #content-wrapper
    #map-log
      .log-column
        .logger-header LOGGER
        button#clear-logger.pure-button(onclick='clearLog()') Clear Log
        //- button#clear-map.pure-button(onclick='clearMap()') Clear Map
      .address-log
        strong Homes inside Polygon:
        ul#address-log.logger
      .coordinates-log
        strong Home Coordinates:
        ul#coordinates-log.logger
      .path-log
        strong Polygon Path Coordinates:
        ul#path-log.logger
      .poly-log
        strong Saved Polygons:
        ul#poly-log.logger
    #map-canvas.map-canvas
    #main-interface.main-interface
      script.
        var minPriceOutput = '#min-price-output'
        var maxPriceOutput = '#max-price-output'
        function outputUpdate(price, id) { document.querySelector(id).value = `$${price}`}
      button#show-homes.pure-button.pure-button-primary Show Homes Inside Polygon
      button#log-homes.log-homes.pure-button.button-secondary Show/Hide Home Addresses
      button#log-coordinates.log-coordinates.pure-button.pure-button-primary Show/Hide Home Coordinates
      button#log-path.log-path.pure-button.button-secondary Log Polygon Coordinates
      button#show-poly.show-poly.pure-button.pure-button-primary Show List of Polygons
      button#undo-point.undo-point.pure-button.button-secondary Undo Last Pin-Drop
      //- button#see-json.see-json(onclick='location.href="/homes"').pure-button.pure-button-primary Inspect Database
      .price-range
        label(for='min-price') Min Price
        input.price-filter(id='min-price' type='range' min='0' max='1500000' step='100' value='0' oninput='outputUpdate(value, minPriceOutput)')
        .price-output
          output.price-output(for='min-price' id='min-price-output') $0
        label(for='max-price') Max Price
        input.price-filter(id='max-price' type='range' min='0' max='1500000' step='100' value='1500000' oninput='outputUpdate(value, maxPriceOutput)')
        .price-output
          output.price(for='max-price' id='max-price-output') $1500000
      form#add-data(name='add-data' action='/save-data' method='POST')
        label(for='add-data') Add New Home to Database:
        input.add-input.add-street(name='street' type='text' placeholder='123 Main St')
        input.add-input.add-price(name='price' type='text' placeholder='$1,000,000')
        input#save-home.submit-data.pure-button.button-success(type='submit' value='Add Home')
      form#add-poly(name='add-poly' action='/save-poly' method='POST')
        label(for='add-poly') Save Current Polygon:
        input.add-input.add-name(name='name' type='text' placeholder='My Cool Polygon Name')
        input.add-input.add-location(name='paths' type='text' placeholder='Array of Lat/Lng Objs, plz')
        input.add-input.add-description(name='description' type='text' placeholder='Describe your polygon...')
        input#save-poly.submit-data.pure-button.button-success(type='submit' value='My Cool Polygon Name')
