html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
ul {
  padding-left: 20px;
}
li {
  font-size: 11px;
}
#main-interface button {
  font-size: 18px;
}
#content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

#map-log {
  min-width: 20%;
  max-width: 20%;
  padding: 10px;
  overflow: scroll;
}

#map-canvas {
  height: 100%;
  width: 75%;
}

#main-interface {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
}

.price-filter {
  width: 75%;
  text-align: center;
  margin: 0 12.5%;
}

.price-output {
  border-bottom: 1px solid #ccc;
  min-width: 100%;
  text-align: center;
  font-size: 18px;
}

.price-range {
  text-align: center;
}

.price-range input {
  width: 80%;
}

.price-range label {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  /*margin-left: 100px;*/
}

.button-success, .button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background: rgb(66, 184, 221);
}

.button-success {
  background: rgb(28, 184, 65);
}

#min-interface button {
  min-height: 30px !important;
}

form#add-data, form#add-poly {
  background-color: #eee;
  text-align: center;
  padding: 15px 10px 20px;
}
form#add-poly{
  background-color: #ddd;
}

label {
  font-size: 18px;
  margin: 0 auto;
}
.submit-data, .add-input {
  font-size: 18px;
}
.add-input{
  padding: 5px;
  width: 250px;
}
.submit-data{
  width: 260px;
}
.add-street, add-name {
  margin-top: 7.5px;
}
